.section2{
    background-color: rgb(231,234,237);
}
.section2-heading{
    letter-spacing: 3.5px;
                font-size: 2rem;
                color: black;
                font-family: 'Ramabhadra', sans-serif;
}
.section2-para{
    color: grey;
        font-size: 0.9rem;
}
